/*Limpar formatações padrão*/
* {
	margin: 0;
	padding: 0;
}



body {
	font-size: 1em;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	background: #e6e6e6;
}

/*
**** Layout ****
*/
#area-cabecalho {
	background-color:#182C61;
	padding: 15px;
	text-align: center;
}

#area-logo, #area-menu {
	padding: 10px;
}

#area-principal {
	width: 920px;
	margin: 0 auto;
	padding: 15px;
}


#area-rodape {
	background-color: #182C61;
	padding: 15px;
	text-align: center;
    

}


footer p {
    background-color: #182C61;
    color: #ecf0f1;
    /*padding: 50px 20px;*/
	text-align: center;
	/*padding: 15px;*/
	font-family: Helvetica, sans-serif;

}

#area-postagens {
	width: 660px;
	float: left;
}

#area-lateral {
	width: 240px;
	float: right;
}

.conteudo-vertical {
	background: white;
	padding:10px;
	margin-bottom: 20px;
	
}

.postagem-vertical {
	font-size: 0.8em;
	padding: 5px;
	border-bottom: 1px dotted #CCC;	
	/*display: flex;*/
}

button{
    background-color: #182C61;
    border: none;
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
	padding: 10px 70px;
	
}

#rodape {
	clear: both;
	text-align: center;
	padding: 15px;
	background: #CCC;
}

/*
**** Formatação do menu ****
*/
a {
	text-decoration: none;	
}

a:link, a:visited {
	color: #f7b600;
}

a:hover {
	text-decoration: underline;
}

#area-cabecalho a:link, #area-cabecalho a:visited {
	color: #FFF;
	padding: 8px 12px;
}

#area-cabecalho a:hover {
	color: #f7b600;
	background: #FFF;
	text-decoration: none;
}

/*
**** Formatações em geral ****
*/
p {
	color: black;
    font-weight: normal;
	font-family: 'Roboto', sans-serif;
	font-size: 1.5em;
}

h1 {
	color: white;
    font-weight: normal;
	font-family: 'Roboto', sans-serif;
	font-size: 3em;
}

h2 {
	color: #f7b600;
}

h3 {
	color: #565656;
	background: #CCC;
	padding: 5px;
	text-align: center;
	font-size: 1.5em;
	font-weight: bolder;
}

.branco{
	color: white;
}

#nome, #email, #cel,#area{
	/*padding: 10px;*/
	width: 650px;
}


.data-postagem {
	font-size: 0.8em;
	border-bottom: 1px solid #f4f4f4;
	padding-bottom: 10px;
	margin-bottom: 10px;
	display: block;
}

@media screen and (min-width:641px) and (max-width: 1023px) {
	.area-principal .area-lateral .conteudo-vertical .postagem-vertical .area-postagens{
		max-width: 82%;
		display: block;
	}
	
}

@media screen and (max-width: 640px) {
	.area-principal .area-lateral .conteudo-vertical .postagem-vertical .area-postagens{
		max-width: 82%;
		display: block;
	}
}

@media screen and (min-width:1024px) {
	.area-principal .area-lateral .conteudo-vertical .postagem-vertical .area-postagens{
		max-width: 82%;
		display: block;
	}
}




